#navbar{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background-color: #FFFEFF;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 70px;
  row-gap: 10px;
  scroll-behavior: smooth;
  a{
    color: #000000;
    cursor: pointer;
    text-decoration: none;
  }
}

@media(max-width: 768px){
  #navbar{
    border-radius: 30px 30px 30px 30px;
    // TODO Fix Navbar Down 
    position: relative;
    top: 1460px;
    // TODO Change Text for Icon
  }
}