.navbar{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background-color: #FFFEFF;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 70px;
  row-gap: 10px;
}

.a{
  cursor: pointer;
}