<h1>QUEM SOMOS</h1>

<div class="home">
  
  <img src="../../../assets/quemsomos.svg" alt='Imagem quem somos'>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elementum porta tristique. Aenean consequat velit eget tortor malesuada aliquet. Nam nec ante nec urna vestibulum suscipit. Maecenas pretium mauris dui. Duis ac pellentesque nunc. Nunc finibus, dolor ut suscipit interdum, quam lacus volutpat urna, eget finibus libero sem non nulla. Sed sit amet erat condimentum erat laoreet fermentum. Proin massa libero, euismod eget nunc a, elementum scelerisque magna.</p>

</div>