.home{
  display: grid;
  grid-column: 1fr 1fr;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 60.77px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  margin-top: 45px;
}

img{
  width: 750px;
  height: 500px;
  margin-top: 44px;
  margin-bottom: 224px;
  margin-left: 60px;
  margin-right: 60px;
  grid-column-start: 1;
  grid-column-end: 1;
}

p{
  width: 690px;
  height: 362px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #2B2B2B;
  margin-top: 151px;
  margin-bottom: 255px;
  margin-left: 60px;
  margin-right: 65px;
  grid-column-start: 2;
  grid-column-end: 2;
}

// Mobile
@media(max-width: 768px){
  .home{
    display: flex;
    flex-direction: column;
  }
  h1{
    font-size: 200%;
  }
  img{
    width: 80%;
  }
  p{
    width: fit-content;
    text-align: center;
  }
}
