#homeBackground{
  background-color:#F8EFFF;
}

#home{
  display: grid;
  grid-column: 1fr 1fr;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 60.77px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  margin-top: 2.8125rem;
}

img{
  width: 750px;
  height: 500px;
  grid-column-start: 1;
  grid-column-end: 1;
  margin: 2.75rem auto 14rem;
}

p{
  width: 690px;
  height: 362px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #2B2B2B;
  grid-column-start: 2;
  grid-column-end: 2;
  margin: 9.4375rem auto 15.9375rem;
}

// Mobile
@media(max-width: 768px){
  #home{
    display: flex;
    flex-direction: column;
  }
  h1{
    font-size: 200%;
  }
  img{
    width: 80%;
    margin-top: -1%;
  }
  p{
    width: 80%;
    height: 80%;
    text-align: center;
    margin: -25% auto 10%;
  }
}
