#faqBackground{
  background-color: #fff3ef;
}

#faq{
  display: grid;
  grid-column: 1fr 1fr;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 60.77px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  position: relative;
  top: 5.9375rem;
  margin-bottom: 81px;
}

img{
  width: 500px;
  height: 500px;
  margin: 2.75rem auto 16rem;
  grid-column-start: 2;
  grid-column-end: 2;
}

// TODO Pure accordion 
#accordion{
  width: 605px;
  margin: 2rem auto 16rem;
  grid-column-start: 1;
  grid-column-end: 1;
}

#accordionItem{
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 20px;
  color: #2B2B2B;
}

#accordionItemHeader{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.05em;
}

#accordionItemHeader::before{
  content: url(../../../assets/accordionTriangle.svg);
  border-radius: 3px;
  color: #D13C74;
  cursor: pointer;
}

#accordionItemHeader::after{
  content: url(../../../assets/accordionTriangle.svg);
  position: absolute;
  transform: rotate(180deg);
  border-radius: 3px;
  color: #D13C74;
  cursor: pointer;
}

#accordionItemBody{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.05em;
}

// Mobile
@media(max-width: 768px){
  #faq{
    display: flex;
    flex-direction: column;
  }
  h1{
    font-size: 200%;
  }
  img{
    width: 80%;
    margin: auto;
  }
  #accordion{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 7.25rem;
  }
}