<div id="faqBackground">

  <h1><span id="faqNavbar"></span>FAQ</h1>
  
  <div id="faq">

    <img src="../../../assets/faq.svg" alt="Imagem FAQ" />
    
    <div id="accordion">
      <div id="accordionItem">
        <div id="accordionItemHeader">Title</div>
        <div id="accordionItemBody">
          <div id="accordionItemBodyContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis pellentesque orci. Suspendisse ut nulla ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
      </div>
      <div id="accordionItem">
        <div id="accordionItemHeader">Title</div>
        <div id="accordionItemBody">
          <div id="accordionItemBodyContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis pellentesque orci. Suspendisse ut nulla ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
      </div>
      <div id="accordionItem">
        <div id="accordionItemHeader">Title</div>
        <div id="accordionItemBody">
          <div id="accordionItemBodyContent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis pellentesque orci. Suspendisse ut nulla ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
      </div>
    </div>
  </div>
</div>
