<h1>FAQ</h1>

<div class="faq">
  
  <img src="../../../assets/faq.svg" alt = 'Imagem FAQ'>

  <div id="accordion">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="titles">
            Title
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis pellentesque orci. Suspendisse ut nulla ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </div>
      </div>
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="titles">
            Title
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis pellentesque orci. Suspendisse ut nulla ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </div>
      </div>
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="titles">
            Title
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis pellentesque orci. Suspendisse ut nulla ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </div>
      </div>
  </div>
</div>